<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizible</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/animate.css">
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script>function openMenu() {
        const menu = document.querySelector('.mobile-menu');
        const burgerButton = document.querySelector('#nav-icon1');
        burgerButton.classList.toggle('open');
        console.log('menu classList', menu.classList);
        menu.classList.toggle('opened');
    }</script>
</head>
<body>
<header>
    <ul class="mobile-menu">
        <li><a onclick="openMenu()" href="#configurable">Configuration</a></li>
        <li><a onclick="openMenu()" href="#analytics">Analitics</a></li>
        <li><a onclick="openMenu()" href="#integration">Integrations</a></li>
        <li><a onclick="openMenu()" href="#pricing">Pricing</a></li>
        <li><a onclick="openMenu()" href="#contact">Contact</a></li>
        <button class="login">Login</button>
    </ul>
    <a href="" class="logo"><img src="img/logo.png" alt="logo"></a>
    <nav class="menu-nav">
        <ul>
            <li><a href="#configurable">Configuration</a></li>
            <li><a href="#analytics">Analitics</a></li>
            <li><a href="#integration">Integrations</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#contact">Contact</a></li>
            <button class="login">Login</button>
        </ul>

        <div onclick="openMenu()" id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>
<div class="content-container">
    <section id="about">
        <div class="content about-content wow fadeInLeft">
            <h1>Higher email opt-in rates in less than 30 minutes</h1>
            <p>Install Listagram's interactive opt-in form and your opt-in rates will likely be the highest you've ever seen. It takes less than 30 minutes</p>
            <button class="about-button" onclick="window.open('https://quizible.de','_blank');" type="button">try it out</button>
        </div>
    </section>
    <section id="configurable">
        <div class="content configurable-content wow fadeInRight">
            <h1>Configurable strategy</h1>
            <ul>
                <li>Complexity</li>
                <li>Number of questions</li>
                <li>Time for answer</li>
                <li>Desing</li>
                <li>Awards</li>
            </ul>
            <button onclick="window.open('https://quizible.de','_blank');" type="button">try it out</button>
        </div>
    </section>
    <section id="analytics">
        <div class="content analytics-content wow fadeInLeft">
            <h1>Advanced analitics</h1>
            <ul>
                <p>Install Listagram's interactive opt-in form and your opt-in rates will likely be the highest you've ever seen. It takes less than 30 minutes</p>
            </ul>
            <button onclick="window.open('https://quizible.de','_blank');" type="button">try it out</button>
        </div>
    </section>
    <section id="integration">
        <div class="content integration-content wow fadeInRight">
            <h1>Integration</h1>
            <ul>
                <li>Complexity</li>
                <li>Number of questions</li>
                <li>Time for answer</li>
                <li>Desing</li>
                <li>Awards</li>
            </ul>
            <button onclick="window.open('https://quizible.de','_blank');" type="button">try it out</button>
        </div>
    </section>
    <section id="pricing">
        <h1>Unsere Preismodelle</h1>
        <div class="content pricing-content wow fadeIn">
            <div class="card grow">
                <span class="card-title">default</span>
                <div class="card-content">
                    <span>Tarif desription</span>
                    <ul>
                        <li>one</li>
                        <li>two</li>
                        <li>three</li>
                        <li>four</li>
                    </ul>
                    <h3>19.99 €</h3>
                    <button>Sign up</button>
                </div>
            </div>
            <div class="card grow">
                <span class="card-title">premium</span>
                <div class="card-content">
                    <span>Tarif description</span>
                    <ul>
                        <li>one</li>
                        <li>two</li>
                        <li>three</li>
                        <li>four</li>
                    </ul>
                    <h3>29.99 €</h3>
                    <button>Sign up</button>
                </div>
            </div>
        </div>
        <div id="contact" class="content form-content">
            <form action="">
                <input type="text" placeholder="name">
                <input type="text" placeholder="e-mail">
                <button class="contact">contact me</button>
            </form>
        </div>
    </section>


</div>
<footer>

</footer>
</body>
</html>