<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="javascripts/main.js" defer></script>
  </head>
  <body>
    <header>
        <h1 id="logo">Quizible</h1>
    </header>
    <section class="start">
        <input type="text" name="age" placeholder="Age">
        <input type="text" name="plz" placeholder="PLZ">
        <input type="text" name="quizcode" placeholder="Quizcode">
        <button onclick="startQuiz(this)">Start</button>
    </section>
  <section class="quiz hidden">

  </section>
  </body>
</html>
